<!DOCTYPE html>
<!--
	Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
	<meta charset="utf-8" />
	<title>{% if page.home %}{{ site.title|e }}{% else %}{{ page.title|e }}{% endif %}</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	{% include 'partials/metadata.html.twig' %}

	<link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}" />
	<link rel="canonical" href="{{ page.canonical(true)|e }}" />
{% endblock head %}

{% block stylesheets %}
	{% style 'theme://assets/css/main.css' priority: 100 %}
	{% style 'theme://assets/css/noscript.css' at 'noscript' %}
	{% style 'theme://css/custom.css' priority: 98 %}
{% endblock %}

{% block javascripts %}
	{% script 'theme://assets/js/jquery.min.js' at 'bottom' %}
	{% script 'theme://assets/js/browser.min.js' at 'bottom' %}
	{% script 'theme://assets/js/breakpoints.min.js' at 'bottom' %}
	{% script 'theme://assets/js/util.js' at 'bottom' %}
	{% script 'theme://assets/js/main.js' at 'bottom' %}
{% endblock %}

{% block assets deferred %}
	{{ assets.css()|raw }}
	<noscript>{{ assets.css('noscript')|raw }}</noscript>
	{{ assets.js()|raw }}
{% endblock %}
</head>

<body class="is-preload">

	<!-- Wrapper -->
		<div id="wrapper">

{% block header %}
	<!-- Header -->
		<header id="header">

			<div class="logo">
				<span class="icon fa-gem"></span> {# TODO: customise #}
			</div>
			<div class="content">
				<div class="inner">
					<h1>{{ page.title|e }}</h1>
					{% if page.header.tagline is defined and page.header.tagline|trim is not empty %}
						{{ page.header.tagline|markdown() }}
					{% endif %}
				</div>
			</div>

			{{ include('partials/navigation.html.twig') }}

		</header>
{% endblock %}

{% block body %}
	<!-- Main -->
		<div id="main">
			{% block content %}{% endblock %}
		</div>
{% endblock %}

{% block footer %} {# TODO: incorporate site metadata #}
	<!-- Footer -->
		<footer id="footer">
			<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
		</footer>
{% endblock %}

	</div> {# end wrapper #}

	<!-- BG -->
		<div id="bg"></div>

{% block bottom %}
	<!-- Scripts -->
		{{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
